<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% if user.profile_picture.attached? %>
      <%= image_tag user.profile_picture %>
    <% end %>

    <%= render user %>
    
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
