<nav>
  <% if user_signed_in? %>
    <span>Bienvenido, <%= current_user.nombre %></span>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% if current_user.admin? %>
      <%= link_to 'Crear Usuario', new_user_registration_path %>
      <%= link_to 'Crear Oferta Laboral', new_oferta_laboral_path %>
      <%= link_to 'Lista de Usuarios', users_path %>
      <%= link_to 'Lista de Ofertas', ofertas_laborales_path %>
    <% else %>
      <%= link_to 'Mis Postulaciones', user_postulaciones_path(current_user) %>
      <%= link_to 'Ofertas Laborales', ofertas_laborales_path %>
    <% end %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</nav>
